<a href="https://colab.research.google.com/github/RaeganGutierrez/Machine-Learning-Practice/blob/main/ML_Practice_Linreg_%26_RF_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#P1 (50pt): Write a Python code in Colab using NumPy, Panda, Scikit-Learn to complete the following tasks:

1. Import the Auto MPG dataset using the dataset URL, use the attribute names as explained in the dataset description as the column names **(5pt)**, view the strings ‘?’ as the missing value, and whitespace (i.e., ‘\s+’) as the column delimiter. Print out the shape and first 5 rows of the obtained DataFrame. **(5pt)**

* Dataset source file:
http://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data
* Dataset description: http://archive.ics.uci.edu/ml/datasets/Auto+MPG

In [14]:
#load packages
import pandas as pd
import numpy as np
np.random.seed(100)
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

# read in data
auto = pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data',
                   header = None,
                   names =["mpg", "cylinders", "displacement", "horsepower", "weight", "acceleration",
                           "model year", "origin", "car name"],
                   na_values ='?',
                   delimiter = '\s+')
print('Shape:', auto.shape)
print(auto.head(5))

Shape: (398, 9)
    mpg  cylinders  displacement  horsepower  weight  acceleration  \
0  18.0          8         307.0       130.0  3504.0          12.0
1  15.0          8         350.0       165.0  3693.0          11.5
2  18.0          8         318.0       150.0  3436.0          11.0
3  16.0          8         304.0       150.0  3433.0          12.0
4  17.0          8         302.0       140.0  3449.0          10.5

   model year  origin                   car name
0          70       1  chevrolet chevelle malibu
1          70       1          buick skylark 320
2          70       1         plymouth satellite
3          70       1              amc rebel sst
4          70       1                ford torino

2.	Delete the “car_name” column as it is irrelevant to the prediction. Print out a concise summary of the new DataFrame and check if NULL value exists in each column. **(5pt)**

In [4]:
# Drop 'car name' and check for nulls
auto2 = auto.drop('car name', axis = 'columns')
print(auto2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        398 non-null    float64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
dtypes: float64(5), int64(3)
memory usage: 25.0 KB
None

3.	Replace any NULL values with the mean value of the column. Print out the concise summary of the new DataFrame and recheck if NULL values exists in each column. **(5pt)**

In [5]:
# impute missing values
auto2['horsepower'].fillna(float(auto2['horsepower'].mean()), inplace=True)
print(auto2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    float64
 4   weight        398 non-null    float64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
dtypes: float64(5), int64(3)
memory usage: 25.0 KB
None

4.	Use one-hot encoding to replace any categorical variables, then print out the first 5 rows of the newly obtained DataFrame. **(10pt)**

In [6]:
# one-hot encode the 'origin' column
from enum import auto
auto3 = pd.get_dummies(data = auto2, columns = ['origin'])
print(auto3.head(5))

    mpg  cylinders  displacement  horsepower  weight  acceleration  \
0  18.0          8         307.0       130.0  3504.0          12.0
1  15.0          8         350.0       165.0  3693.0          11.5
2  18.0          8         318.0       150.0  3436.0          11.0
3  16.0          8         304.0       150.0  3433.0          12.0
4  17.0          8         302.0       140.0  3449.0          10.5

   model year  origin_1  origin_2  origin_3
0          70         1         0         0
1          70         1         0         0
2          70         1         0         0
3          70         1         0         0
4          70         1         0         0

5.	Train a linear regression model (fit_intercept=True) to predict the “mpg” column from the remaining columns in the obtained DataFrame of Step 4.

  a.	Separate the “mpg” column from other columns and view it as the label vector and others as the feature matrix. **(5pt)**

  b.	Split the data into a training/testing set and print out their shapes. **(5pt)**

  c.	Train the model using the training set and print out the coefficients of the model. **(5 pt)**

  d.	Use the trained model to predict on the test set and print out the mean squared error of the predictions. **(5pt)**

In [9]:
# a: separate response variable
X = auto3.drop('mpg', axis = 'columns')
y = auto3['mpg']

# b: create train test split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 0, train_size = .8)
print('X train shape:', X_train.shape, 'Y train shape:', y_train.shape)

# c: train model
Linmod = LinearRegression()
Linmod.fit(X_train, y_train)
print('Coefficients:', Linmod.coef_)

# d: test model and print mse
from sklearn import metrics
pred = Linmod.predict(X_test)
metrics.mean_squared_error(y_test, pred)

X train shape: (318, 9) Y train shape: (318,)
Coefficients: [-0.40247363  0.02517027 -0.02090317 -0.00666591  0.19107804  0.76544926
 -1.92519814  0.72404785  1.20115029]

10.99221496252435

# P2 (50pt): Write a Python code in Colab using NumPy, Panda, Scikit-Learn to complete the following tasks:

1. Import the red wine dataset using the dataset URL, use the semi-colon as the column delimiter, and print out both the first five rows and a concise summary of the obtained DataFrame. **(10 pt)**

	a.	Dataset source file: http://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv

	b.	 Dataset description: http://archive.ics.uci.edu/ml/datasets/wine+quality

In [17]:
# read data
wine = pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv',
                   delimiter = ';')
print(wine.head(5))
print(wine.info())

   fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
0            7.4              0.70         0.00             1.9      0.076
1            7.8              0.88         0.00             2.6      0.098
2            7.8              0.76         0.04             2.3      0.092
3           11.2              0.28         0.56             1.9      0.075
4            7.4              0.70         0.00             1.9      0.076

   free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  \
0                 11.0                  34.0   0.9978  3.51       0.56
1                 25.0                  67.0   0.9968  3.20       0.68
2                 15.0                  54.0   0.9970  3.26       0.65
3                 17.0                  60.0   0.9980  3.16       0.58
4                 11.0                  34.0   0.9978  3.51       0.56

   alcohol  quality
0      9.4        5
1      9.8        5
2      9.8        5
3      9.8        6
4      9.4        5
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB
None

2. Suppose we want to predict the quality of wine from other attributes. Divide the data into a label vector and a feature matrix. Then split them into a training and testing set. **(5pt)**

In [18]:
# separate response variable
X = wine.drop('quality', axis = 'columns')
y = wine['quality']

# create train test split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 0, train_size = .8)

3. Use the StandardScalar() in Scikit-Learn to preprocess the feature matrices of both training set and testing set. **(5 pt)**

In [19]:
# Preprocessing
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
scale = StandardScaler()
X_train = scale.fit_transform(X_train)
X_test = scale.transform(X_test)

X_train = pd.DataFrame(X_train)
X_train.describe()

,0,1,2,3,4,5,6,7,8,9,10
count,1.279000e+03,1.279000e+03,1.279000e+03,1.279000e+03,1.279000e+03,1.279000e+03,1.279000e+03,1.279000e+03,1.279000e+03,1.279000e+03,1.279000e+03
mean,-3.583269e-16,4.555473e-16,-9.166501e-17,-1.666637e-17,1.722191e-16,-8.888729e-17,-6.666546e-17,-6.292456e-14,3.405494e-15,-2.777728e-16,5.916560e-16
std,1.000391e+00,1.000391e+00,1.000391e+00,1.000391e+00,1.000391e+00,1.000391e+00,1.000391e+00,1.000391e+00,1.000391e+00,1.000391e+00,1.000391e+00
min,-2.097363e+00,-2.246915e+00,-1.392011e+00,-1.138559e+00,-1.570125e+00,-1.429408e+00,-1.224690e+00,-3.553912e+00,-3.702404e+00,-1.653976e+00,-1.898397e+00
25%,-7.134876e-01,-7.672394e-01,-9.317263e-01,-4.498451e-01,-3.562873e-01,-7.638080e-01,-7.480890e-01,-6.044792e-01,-6.486230e-01,-6.240939e-01,-8.615341e-01
50%,-2.521957e-01,-5.480282e-02,-6.229902e-02,-2.432309e-01,-1.679332e-01,-1.932938e-01,-2.714882e-01,1.350388e-03,1.117615e-03,-2.235841e-01,-2.017125e-01
75%,5.550651e-01,5.891303e-01,7.559855e-01,3.225488e-02,6.227746e-02,4.723060e-01,4.732005e-01,5.832656e-01,5.858842e-01,4.057886e-01,6.309196e-01
max,4.360723e+00,5.754296e+00,3.722267e+00,8.916670e+00,1.096589e+01,5.321677e+00,7.205186e+00,3.684156e+00,4.549302e+00,7.672182e+00,4.228518e+00

4. Create a random forest classification model with 300 trees. Use 5-fold cross-validation to train and cross-validate the model on the preprocessed training dataset. Print out the accuracies returned by the five folds as well as their average and standard deviation values. **(10 pt)**

In [22]:
# Create random forest classifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score
rf = RandomForestClassifier(n_estimators = 300, random_state = 0)
cvrf = cross_val_score(estimator = rf, X = X_train, y = y_train, cv = 5)

# print results
print('Accuracies:', cvrf)
print('Averages:', cvrf.mean())
print('Standard Deviations:', cvrf.std())

Accuracies: [0.62109375 0.64453125 0.66015625 0.6640625  0.67843137]
Averages: 0.653655024509804
Standard Deviations: 0.019534220026007233

5. Find and print out the best hyperparameter for the number of trees (try 5 values from 100 to 1000), ignoring the search for other hyperparameters. Also use 5-fold cross-validation during your search. **(15 pt)**

In [23]:
# tune number of trees
from sklearn.model_selection import GridSearchCV
params = {'n_estimators': [100, 300, 500, 800, 1000]}
rf = RandomForestClassifier(random_state = 0)
gsrf = GridSearchCV(rf, param_grid = params, scoring = 'accuracy', cv = 5)

gsrf.fit(X_train, y_train)

print(gsrf.best_params_)

{'n_estimators': 800}

6. Find and print out the testing accuracy of the model obtained using the best hyperparameter value on the preprocessed testing dataset **(5 pt)**

In [24]:
# test model and print accuracy
from sklearn.metrics import accuracy_score
pred = gsrf.predict(X_test)
print(accuracy_score(y_test, pred))

0.725